APP_NAME="Maisara Solutions"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://maisara-solutions.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=maisara
DB_USERNAME=maisara_user
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=predis
REDIS_PREFIX=maisara_solutions_database_

CACHE_DRIVER=redis
CACHE_PREFIX=maisara_solutions_cache

SESSION_DRIVER=redis
SESSION_CONNECTION=session
SESSION_LIFETIME=120
SESSION_COOKIE=maisara_solutions_session

QUEUE_CONNECTION=redis
QUEUE_FAILED_DRIVER=database-uuids

MAIL_MAILER=log
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@maisara-solutions.com
MAIL_FROM_NAME="Maisara Solutions"

FILESYSTEM_DISK=public
FILESYSTEM_DISK_PUBLIC_URL=https://maisara-solutions.com/storage

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=

SCOUT_DRIVER=null
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

SANCTUM_STATEFUL_DOMAINS=maisara-solutions.com,www.maisara-solutions.com

GOOGLE_MAPS_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAILGUN_ENDPOINT=api.mailgun.net
POSTMARK_TOKEN=
